// --------------------FOOTER ANIMATIONS-------------------------------

.wave-1, .wave-2, .wave-3, .wave-4 {
    height: 7.5rem;
    width: 100vw;
}

.wave-1{
    position: absolute;
    background-image: url('/Public/imgs/wave.png');
    background-size: 100rem 10rem;
    animation: animate 30s linear infinite;
    animation-delay: 0s;
    z-index: 1000;
    bottom: 20rem;
    left: 0;
}



.wave-2{
    position: absolute;
    background-image: url('/Public/imgs/wave-light.png');
    background-size: 100rem 10rem;
    animation: animate2 15s linear infinite;
    animation-delay: -5s;
    z-index: 999;
    bottom: 20.5rem;
    left: 0;
    opacity: 0.8;
}



.wave-3{
    position: absolute;
    background-image: url('/Public/imgs/wave-dark.png');
    background-size: 100rem 10rem;
    animation: animate3 5s linear infinite;
    animation-delay: -2s;
    z-index: 998;
    bottom: 21rem;
    left: 0;
}



// ---------------------------------------------------------------------


.footer-container{
    position: absolute;
    background-color: $color-primary;
    height: 20rem;
    width: 100vw;
    bottom: 0;

    .made-by{
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 2rem;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
    }
}