.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem;
    padding-top: 10rem;

    @media only screen and (max-width: 56.25em){
        flex-direction: column;
        justify-content: center;
        padding-top: 15rem;
    }

    &-image{
        height: 58rem;
        width: auto;

        @media only screen and (max-width: 62.5em){
            height: 52rem;
        }

        @media only screen and (max-width: 56.25em){
            margin-top: 7rem;
        }
    }

    &-content-section{
        margin-right: 2rem;
    }

    .down-arrow {
        text-decoration: none;
        cursor: pointer;
        font-size: 4rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 1rem;
        animation: animateArrow 1s linear infinite;
        
        a {
            color: rgba($color: #000000, $alpha: 0.8);
        }
    }
}