.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 6rem;
    padding-bottom: 27.5rem;
    padding-top: 10rem;
    &-image{
        height: 60rem;
        width: auto;
    }
}