.nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: #FFF;
    z-index: 1001;

    @media only screen and (max-width: 56.25em){
        display: block;
        padding: 4rem 5rem 2rem 5rem;
        // box-shadow: 0px 0px 5px #000;
        // border-bottom: 1px solid rgba(0,0,0, .2);
    }

    &-main{
        font-size: 1.8rem;
        cursor: pointer;
        position: relative;

        // @media only screen and (max-width: 56.25em){
        //     display: block;
        //     width: fit-content;
        // }


    }

    &-links{
        display: flex;

        @media only screen and (max-width: 56.25em){
            // display: none;
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            margin: 1rem -7rem;
            background-color: #fff;
            position: relative;
            z-index: 90rem;
            border-bottom: 1px solid rgba(0,0,0, .25);
        }
    }

    &-link{
        position: relative;
        width: fit-content;
        padding: 1rem 1rem;
        margin: 0 4rem;
        white-space: nowrap;
        list-style: none;
        font-size: 1.8rem;
        cursor: pointer;

        &::after{
            content: "";
            width: 0;
            height: 2.5px;
            background-color: $color-primary-dark;
            display: inline-block;
            position: absolute;
            bottom: 0;
            // left: 0;
            // transform-origin: right;
            // transform: scale(0);
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all .2s linear;
        }

        &:hover::after{
            // transform-origin: left;
            // transform: scale(1);
            width: 85%;
        }
        
        & a{
            text-decoration: none;
            color: #000;
        }

        @media only screen and (max-width: 56.25em){
            &:not(:last-child){
                margin-bottom: 3rem;
            }
        }
    }

    &-toggler{
        padding: 1rem;
        display: none;
        position: absolute;
        right: 0;
        transform: translate(-50%, -30%);
        z-index: 100;
        cursor: pointer;

        @media only screen and (max-width: 56.25em){
            display: inline-block;
        }

        &:focus {
            color: red;
        }

        &-icon{

            // img {
            //     height: 5rem;
            //     width: 5rem;
            // }
            &,
            &::before,
            &::after{
                position: relative;
                width: 2.5rem;
                height: 2px !important;
                background-color: black;
                display: inline-block;
            }
    
            &::before,
            &::after{
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before{
                top: -0.8rem;
            }
    
            &::after{
                top: 0.8rem;
            }
        }
    }
}

.scrolled {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    // background-color: $color-primary-lighter;
}