.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 6rem;

    @media only screen and (max-width: 56.25rem){
        display: block;
    }

    &-logo{
        font-size: 1.8rem;
    }

    &-links{
        display: flex;

        @media only screen and (max-width: 56.25rem){
            // display: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            margin: 1rem -6rem;
            background-color: red;
            position: relative;
            z-index: 90rem;
        }
    }

    &-link{
        position: relative;
        width: fit-content;
        padding: 1rem 1rem;
        margin: 0 4rem;
        white-space: nowrap;
        list-style: none;
        font-size: 1.8rem;
        cursor: pointer;

        & a{
            text-decoration: none;
            color: #000;
        }

        @media only screen and (max-width: 56.25rem){
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }

    &-toggler{
        padding: 1rem;
        display: none;
        position: absolute;
        right: 6%;
        top: 4%;
        z-index: 100rem;
        cursor: pointer;

        @media only screen and (max-width: 56.25rem){
            display: flex;
        }

        &-icon{
            &,
            &::before,
            &::after{
                position: relative;
                width: 2.5rem;
                height: 2px !important;
                background-color: red;
                display: inline-block;
            }
    
            &::before,
            &::after{
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before{
                top: -0.8rem;
            }
    
            &::after{
                top: 0.8rem;
            }
        }
    }
}

.hide {
    display: none;
}