.event-options {
    margin-top: 10rem;
    padding-bottom: 35rem;
    width: 100vw;
    height: fit-content;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);

    .type-holder {
        position: relative;
        width: 100%;
        padding-left: 20rem;
        padding-right: 20rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        
        ul {
            display: flex;
            align-items: center;
            justify-content: start;
            list-style: none;
    
            li{
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                cursor: pointer;
            }

            li:hover {
                background-color: $color-primary-lighter;
                border-radius: 0.2rem;
            }
        }
    }

    .filter {
        margin-left: auto;
    }
}

.filter-options {
    margin: 2rem 1.5rem;
    padding: 0 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}