input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-forms {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 3rem;
    padding-top: 12rem;
    height: fit-content;
    width: 100%;
    margin-bottom: 0;

    @media only screen and (max-width: 68.75em) {
        padding-top: 18rem;
    }

    @media only screen and (max-width: 43.75em){
        justify-content: center;
        align-items: center;
        padding-top: 15rem;
    }
}

.form{

    &-login, &-signup, &-event{
        width: 40vw;
        height: 40vh;
        padding: 4rem 0;
        margin-top: 5%;
    }

    &-event{
        height: fit-content;
        padding: 0;
        margin-top: 0;
    }

    &-signup {
        padding: 0 0;
        margin-top: 0rem;
    }

    &-group{
        padding: 0 15%;

        select{
            &:first-child{
                margin-left: -.2rem;
            }
        }

        @media only screen and (max-width: 50em){
            padding: 0 10%;
        }

        @media only screen and (max-width: 46.8em){
            padding: 0;
        }
    }

    &-label{
        font-size: 2rem;
    }

    &-options{
        text-align: center;
        font-size: 1.5rem;

        &:not(:first-child){
            margin-top: 1.5rem;
        }

        & a{
            text-decoration: none;
            color: $color-primary;
        }
    }

    &-input{
        color: #000;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        background-color: #F3F3F4;
        border: none;
        width: 100%;
        display: block;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;

        &::placeholder{
            color: rgba(0, 0, 0, .6);
        }

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
            border-bottom: 2px solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: 2px solid red;
        }

        &::-webkit-input-placeholder{
            color: rgba(0, 0, 0, .6);
        }
    }

    &-label{
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 2rem;
        margin-top: 1rem;
        display: block;
        transition: all 0.3s;
        color: rgba(0, 0, 0, .6);
    }

    &-input:placeholder-shown + &-label{
        opacity: 0;
        visibility: hidden;
    }

    .sign-up, .login {
        color: $color-primary;
        cursor: pointer;
    }

    .btn-form {

        padding: 1rem 5rem;
        background-color: $color-primary-light;
        border: none;
        border-radius: 3px;
        color: #FFF;
        outline: none;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
            background-color: $color-primary;
        }
    }

    // @media only screen and (max-width: 62.5em) {
    //     .form-img {
    //         padding-top: 5rem;
    //     }

    //     &-login {
    //         margin-top: 10rem;
    //     }

    // }
}

#custom-button {
    border: none;
    padding: 1rem 1.5rem;
    color: white;
    background-color: $color-primary-light;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;

    &:hover{
        background-color: $color-primary;
    }

    &:focus{
        outline: none;
        border: none;
    }
  }
  
  #custom-text {
    margin-left: 10px;
    color: #aaa;
    font-size: 1.3rem;
  }
.form-img {

    img {
        height: 50rem;
        width: auto;

        @media only screen and (max-width: 50em){
            height: 47.5rem;
        }

        @media only screen and (max-width: 46.8em){
            height: 45rem;
        }

        @media only screen and (max-width: 43.75em){
            display: none;
        }
    }
}



